<html>
<body>
<div>
    <h2>Welcome to game: {{ game.game_name }}</h2>
    <h3>{{ message }}</h3>
</div>

<div>
    <h3>Dealer Cards</h3>
    {% if game.dealer_cards |length < 1 %}
        <p>The dealer has no cards. Deal a new hand.</p>
    {% else %}
        {% for card in game.dealer_cards %}
            <img src={{ card['image'] }} />
        {% endfor %}
    {% endif %}
</div>

<div>
    <h3>Your Cards</h3>
    {% if game.player_cards |length < 1 %}
        <p>You have no cards. Deal a new hand.</p>
    {% else %}
        {% for card in game.player_cards %}
            <img src={{ card['image'] }} />
        {% endfor %}
    {% endif %}
</div>

<div>
    <h4>What would you like to do?</h4>
    <form action='/games/{{ game.game_name }}/move' method='post'>
        <button name="deal" value="Deal">Deal New Hand</button>
        <button name="stand" value="Stand">Stand</button>
        <button name="hit" value="Hit">Hit</button>
        <button name="double" value="Double">Double</button>
    </form>
</div>

</body>
</html>